/* Universal */
* {
    margin: 0;
    padding: 0;
    color: hsl(225, 40%, 30%);
}

html {
    display: grid;
    grid-template-columns: 1fr minmax(480px, 720px) 1fr;
}

body {
    grid-column: 2 / span 1;
    height: 100vh;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top: 2rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}
/* NavBar */

nav {
    display: grid;
    grid-template-columns: 10rem 1fr;
    align-items: baseline;
}

nav h1 {
    width: fit-content;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    gap: 1rem   
}

nav ul li {
    display: inline;
}

/* About Me */
#about {
    grid-template-columns: 1fr 13rem;
    align-items: stretch;
    justify-content: space-between;
    gap: 3rem;

    margin-top: 3rem;
}

#about article {
    flex-flow: column wrap;
    text-align: justify;
}

#about .image-container {
    width: 100%;
    overflow: hidden;

    background-color: lightblue;
    border-radius: 1rem;
}

