@import url("https://fonts.googleapis.com/css2?family=Comme:wght@400;500;600;700&display=swap");

:root {
	--nav-height: 5rem;
	--text-color: hsl(221, 39%, 11%);
	--text-color-hover: hsl(221, 39%, 41%);
	--background: hsl(100, 100%, 99%);
	--celestial-blue: hsl(204, 69%, 50%);
}

body {
	max-width: 1280px;
	margin: 0 auto;
	color: var(--text-color);
	font-family: "Comme", Arial, Helvetica, sans-serif;
	background-color: var(--background);
}

/* NavBar */
nav {
	position: sticky;
	inset: 0;
	padding: 0 2rem;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	height: var(--nav-height);
	z-index: 10;
	background-color: var(--background);
	/* border-bottom: 1px solid var(--text-color); */
}

.nav-name {
	font-size: 2rem;
	font-weight: bold;
	flex: 1;
}

.nav-links {
	padding: 1rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 3rem;

	font-size: large;
	font-weight: bold;
}

@media screen and (max-width: 720px) {
	.nav-links {
		display: none;
	}
	nav {
		justify-content: center;
	}
	.nav-name {
		text-align: center;
	}
}

.nav-links li a:hover {
	color: var(--text-color-hover);
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Banner */
.banner {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	column-gap: 5rem;
	border-bottom: 1px solid black;
}

.banner .nav-gap {
	height: var(--nav-height);
}

.banner .image-container {
	background-color: transparent;
	width: 30rem;
	overflow: hidden;
}

.banner .image-container img {
	max-width: 100%;
	height: auto;
	display: block;
}

.banner .introduction {
	width: 30rem;
}

.banner .introduction h2 {
	color: var(--celestial-blue);
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 5rem;
	animation: type 6s;
}

.banner .introduction section {
	width: 100%;
	font-weight: 500;
	font-size: 2.8rem;
}

.university {
	color: hsl(264, 52%, 34%);
}

.banner .introduction section p {
	display: inline-block;
	white-space: nowrap;
}

@media screen and (max-width: 480px) {
	.banner .introduction section p {
		white-space: normal;
	}
}

@keyframes cursor {
	50% {
		border-color: black;
	}
}

@keyframes type {
	0% {
		color: transparent;
	}
}
